
<div class="row">
  <div class="col">
    <div ngbDropdown class="d-inline-block">
      <button class="btn btn-outline-primary" id="parentTask" ngbDropdownToggle>ParentTask</button>
      <div ngbDropdownMenu aria-labelledby="parentTask">
        <button ngbDropdownItem routerLink="/create-parent-task"  >Add Parent Task</button>
        <button ngbDropdownItem routerLink="/parent-tasks-list" >Browse Parent Task</button>
      </div>
    </div>

    <div ngbDropdown class="d-inline-block">
      <button class="btn btn-outline-primary" id="project" ngbDropdownToggle>Project</button>
      <div ngbDropdownMenu aria-labelledby="project">
        <button ngbDropdownItem routerLink="/create-project" >Add Project</button>
        <button ngbDropdownItem routerLink="/project-list" >Browse Project</button>
      </div>
    </div>

    
    <div ngbDropdown class="d-inline-block">
      <button class="btn btn-outline-primary" id="task" ngbDropdownToggle>Task</button>
      <div ngbDropdownMenu aria-labelledby="task">
        <button ngbDropdownItem routerLink="/create-task" >Add Task</button>
        <button ngbDropdownItem routerLink="/task-list" >Browse Task</button>
      </div>
    </div>


    <div ngbDropdown class="d-inline-block">
      <button class="btn btn-outline-primary" id="user" ngbDropdownToggle>User</button>
      <div ngbDropdownMenu aria-labelledby="user">
        <button ngbDropdownItem routerLink="/create-user" >Add User</button>
        <button ngbDropdownItem routerLink="/user-list" >Browse User</button>
      </div>
    </div>
    

  </div>
  
  </div>
  
 
  <br>  <br>  <br>  <br>  <br>
<router-outlet></router-outlet>